@font-face {
  font-family: 'poppins-regular';
  src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'poppins bold';
  src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'poppins-italic';
  src: url(assets/fonts/Poppins-Italic.ttf);
}

@font-face {
  font-family: 'bold-italic';
  src: url(assets/fonts/Poppins-BoldItalic.ttf);
}

@font-face {
  font-family: 'extra-bold';
  src: url(assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: 'extrabold-italic';
  src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: "poppins-regular";
  background: hsl(0, 0%, 94%);
  display: grid;
  place-content: center;
  /* padding: 20px; */
}

#app {
  width: 107%;
  display: grid;
  background: #ffffff;
  padding: 2.5rem;
  padding-bottom: 0.8rem;
  height: fit-content;
  border-radius: 15px;
  border-bottom-right-radius: 120px;
}

h1 {
  color: transparent;
  font-size: 0;
}

form {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: repeat(2, 1fr);
  width: fit-content;
  height: fit-content;
  /* padding: 15px; */
  /* margin-bottom: 50px; */
}

.input-group {
  display: grid;
  grid-template-columns: repeat(4, 0.7fr);
}

.input-box {
  width: fit-content;
}

label {
  font-size: 0.66rem;
  font-family: extra-bold;
  /* color: #716f6f; */
}

.input {
  width: 6.563rem;
  height: 45px;
  margin-right: 1.5rem;
  margin-top: 5px;
  padding: 15px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  border: 0.7px solid;
  border-radius: 7px;
  outline: none;
  caret-color: #854dff;
}


input:focus {
  border-color: #854dff;
}

.error-msg {
  margin-top: 10px;
  font-size: 0.6rem;
  color: #ff5757;
  font-family: poppins-italic;
  width: 100%;
  min-height: 0.6rem;
}


.sub-btn-cont {
  transform: translateY(-65px);
  border-bottom: solid 1.5px #ece2e2;
  /* width: 97%; */
  height: 0;
}

.line-div {
  border: 1.2px solid gray;
  height: 0;
}

button {
  /* transform: translate(60px, 86px); */
  transform: translate(30px, -2px);

  width: 4.06rem;
  height: 4.06rem;
  justify-self: self-end;
  border-radius: 50%;
  border: none;
  background: rgb(133, 77, 255);
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

button:hover {
  background-color: hsl(0, 0%, 8%);
}

img {
  width: 33px;
  height: 33px;
}

.display {
  font-size: 4.2rem;
  font-family: extrabold-italic;
}

span {
  color: #854dff;
}

.display-group {
  transform: translateY(-25px);
  line-height: 1.1;
}

@media screen and (max-width: 600px) {
  main {
    width: fit-content;
  }
  #app {
    margin: 73px;
    width: 70%;
    padding-left: 1.5rem;
    padding-right: 1.1rem;
    padding-bottom: 0.8rem;
  }
  form {
    width: fit-content;
    padding-right: 0;
  }
  .error-msg {
    font-size: 0.5rem;
    margin-bottom: 15px;
  }
  .input {
    width: 4.9rem;
    font-size: 0.8rem;
  }
  .input-group {
    padding-right: 0;
  }
  input#day {
    margin-right: 1.4rem;
  }
  input#month {
    margin-right: 1.4rem;
  }
  input#year {
    margin-right: 0.08rem;
  }
  .sub-btn-cont {
    width: 96%;
    transform: translateY(-80px); /* ? */
  }
  button {
    justify-self: center;
    transform: translate(-10px, 3.5px);
    width: 3.4rem;
    height: 3.4rem;
  }
  img {
    width: 23px;
    height: 23px;
  }
  .display {
    font-size: 2.6rem;
  }
  /* .display-group {
    margin-top: 1px;
  } */
}