@font-face {
  font-family: 'poppins-regular';
  src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'poppins bold';
  src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'poppins-italic';
  src: url(assets/fonts/Poppins-Italic.ttf);
}

@font-face {
  font-family: 'bold-italic';
  src: url(assets/fonts/Poppins-BoldItalic.ttf);
}

@font-face {
  font-family: 'extra-bold';
  src: url(assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: 'extrabold-italic';
  src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: "poppins-regular";
  background: hsl(0, 0%, 94%);
}

@media screen and (min-width: 375px) {
  body {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    align-items: center;
    justify-items: center;
  }
}

#app {
  display: grid;
  /* grid-template-rows: 3 1fr; */
  background: #ffffff;
  padding: 40px;
  padding-bottom: 10px;
  height: fit-content;
  border-radius: 15px;
  border-bottom-right-radius: 120px;
}

h1 {
  display: none;
}

form {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: repeat(2, 1fr);
  width: fit-content;
  /* padding: 15px; */
  /* margin-bottom: 50px; */
}

.input-group {
  display: grid;
  grid-template-columns: repeat(4, 0.7fr);
}

.input-box {
  width: fit-content;
}

label {
  font-size: 0.62rem;
  font-family: extra-bold;
  /* color: #716f6f; */
}

input {
  width: 105px;
  height: 45px;
  margin-right: 25px;
  margin-top: 5px;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
  border: 0.7px solid;
  border-radius: 5px;
  outline: none;
  caret-color: #854dff;
}


input:focus {
  border-color: #854dff;
}

.error-msg {
  margin-top: 10px;
  font-size: 0.57rem;
  color: #ff5757;
  font-family: poppins-italic;
}


.sub-btn-cont {
  transform: translateY(25px);
  /* display: grid; */
  border-bottom: solid 1.5px #ece2e2;
  width: 95%;
  height: 0;
}

.line-div {
  border: 1.2px solid gray;
  height: 0;
}

button {
  transform: translate(30px, 84px);
  width: 55px;
  height: 55px;
  justify-self: self-end;
  border-radius: 50%;
  border: none;
  background: #854dff;
  z-index: 1;
  cursor: pointer;
}

img {
  width: 30px;
  height: 30px;
}

.display {
  font-size: 3.5rem;
  font-family: extrabold-italic;
}

span {
  color: #854dff;
}

.display-group {
  transform: translateY(-25px);
  line-height: 1.1;
}