* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#app {
  display: grid;
  grid-template-rows: 3 1fr;
}

form {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: repeat(2, 1fr);
  width: fit-content;
  padding: 15px;
  /* margin-bottom: 50px; */
}

.input-group {
  display: grid;
  grid-template-columns: repeat(4, 0.7fr);
}

.input-box {
  width: fit-content;
}

input {
  width: 110px;
  height: 50px;
  margin-right: 25px;
  margin-top: 5px;
  padding: 15px;
}

.error-msg {
  margin-top: 10px;
  font-size: 0.8rem;
  color: red;
}


.sub-btn-cont {
  transform: translateY(31px);
  display: grid;
  border-bottom: solid 1.5px gray;
  width: 85%;
  height: 0;
}

.line-div {
  border: 1.2px solid gray;
  height: 0;
}

button {
  transform: translate(-40px, 87px);
  width: 60px;
  height: 60px;
  justify-self: self-end;
  border-radius: 50%;
  border: none;
  background: hsl(259, 100%, 65%);
  z-index: 1;
}

img {
  width: 30px;
  height: 30px;
}

.display {
  margin-bottom: 10px;
}